#header_wrap{
  position: absolute;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
}

header {
  position: relative;
  left: 0;
  top: 40px;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 230px 0 300px;
  z-index: 1000;
}
.hLine::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 89px;
  width: 100%;
  height: 1px;
  background: #dbdee1;
  opacity: 1;
  z-index: 1000;
}

/* logo */
.logo {
  display: block;
  position: absolute;
  left: 35px;
  top: 28px;
  z-index: 1001;
}
.logo>a{
  display: block;
  overflow: hidden;
  height: 31px;
}
.logo > img{
  height: 100%;
  max-width: none;
}

/* gnb */

header > nav{
  text-align: center;
  font-size: 0;
}

#gnb {
  position: relative;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 34px 0 0;
  font-size: 0;
  text-align: center;
  z-index: 1001;
}

#gnb > .gnb_depth1 {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1.9%;
  transition: 0.2s;
  z-index: 1001;
  height: 100%;
}

#gnb .gnb_depth1 > a {
  display: block;
  position: relative;
  height: 26px;
  box-sizing: border-box;
  color: #fff;
  font-size: calc(1.375rem * 1.6);
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  letter-spacing: -1px;

}

.highlight::before {
  content: "";
  display: block;
  width: 118px;
  height: 42px;
  background-image: url("../images/gnb_item_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -9px;
  left: -20px;
  z-index: -1;
}

#gnb .depth2_wrap {
  position: absolute;
  width: 100%;
  background-color: #fff;
  left: 0;
  top: 90px;
  box-sizing: border-box;
  display: none;
}


#gnb .gnb_depth1:hover .depth2_wrap {
  display: block;
}

.depth2 {
  position: relative;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

.depth2_first{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: left;
  height: auto;
  padding: 0 0 40px;
  overflow: hidden;
}


.depth2_first > li {
  position: relative;
  display: inline-block;
  width: calc(100% / 7);
  padding: 40px 20px 0 30px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0;
  line-height: 1.6;
}

.depth2_first a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #010101;
}
.depth2 a span {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #edf1f6;
  margin: 0 auto 18px auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.gnb_icons1 {
  background-image: url("../images/icon_GNBCUS1.png");
}
.gnb_icons2 {
  background-image: url("../images/icon_GNBCUS2.png");

}
.gnb_icons3 {
  background-image: url("../images/icon_GNBCUS3.png");
}
.gnb_icons4 {
  background-image: url("../images/icon_GNBCUS4.png");
}
.gnb_icons5 {
  background-image: url("../images/icon_GNBCUS5.png");
}
.gnb_icons6 {
  background-image: url("../images/icon_GNBCUS6.png");
}
.gnb_icons7 {
  background-image: url("../images/icon_GNBCUS7.png");
}
.depth2_first a:nth-child(0):hover{
  color: #00589e;
}
.depth2_first a:nth-child(1):hover {
  color: #00589e;
}

.depth2_first a:nth-child(2):hover{
  color: #00589e;
}

.depth2_first a:nth-child(3):hover{
  color: #00589e;
}

.depth2_first a:nth-child(4):hover{
  color: #00589e;
}

.depth2_first a:nth-child(5):hover{
  color: #00589e;
}

.depth2_first a:nth-child(6):hover{
  color: #00589e;
}
.depth2_first .depth2_Ico1:hover .gnb_icons1{
  background-image: url("../images/icon_GNBCUS1_W.png");
  background-color: #00589e;
}
.depth2_first .depth2_Ico2:hover .gnb_icons2{
  background-color: #00589e;
  background-image: url("../images/icon_GNBCUS2_W.png");
}

.depth2_first .depth2_Ico3:hover .gnb_icons3{
  background-color: #00589e;
  background-image: url("../images/icon_GNBCUS3_W.png");
}
.depth2_first .depth2_Ico4:hover .gnb_icons4{
  background-color: #00589e;
  background-image: url("../images/icon_GNBCUS4_W.png");
}
.depth2_first .depth2_Ico5:hover .gnb_icons5{
  background-color: #00589e;
  background-image: url("../images/icon_GNBCUS5_W.png");
}
.depth2_first .depth2_Ico6:hover .gnb_icons6{
  background-color: #00589e;
  background-image: url("../images/icon_GNBCUS6_W.png");
}
.depth2_first .depth2_Ico7:hover .gnb_icons7{
  background-color: #00589e;
  background-image: url("../images/icon_GNBCUS7_W.png");
}




.gnb_depth2_txt {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: left;
  height: auto;
  padding: 0 0 40px;
  overflow: hidden;
}

.gnb_depth2_txt::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.gnb_depth2_txt::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.gnb_depth2_txt > li {
  position: relative;
  display: inline-table;
  width: 20%;
  padding: 40px 20px 0 30px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0;line-height: 1.6;
}

.gnb_depth2_txt > li > a {
  box-sizing: border-box;
  position: relative;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  letter-spacing: -1px;
  vertical-align: top;
  line-height: 1.6;
}
.gnb_depth2_txt > li > a::before{
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 500px;
  left: -31px;
  top: 0;
  background-color: #dbdee1;
}

.gnb_depth2_txt > li > ul > li > a {
  display: block;
  font-size: 15px;
  color: #555555;
}

.gnb_depth2_txt a:hover{
  color: #00589e;
}

/* top_util */
.top_util{
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
.top_util button{
  font-weight: 300;
}
.top_util a{
  color: #fff;
  position: relative;
  font-size: 15px;
  padding-right: 14px;
  margin-right: 14px;
  cursor: pointer;
  font-weight: 300;
}
.top_util a::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 6px;
  width: 1px;
  height: 13px;
  background: rgba(255,255,255,0.2);
}
.top_util button{
  margin-right: 20px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  background-position: right center; 
}
.lang_button{
  padding-right: 20px;
  background: url('../images/ico_dotArrB_white.png') no-repeat ;
  
}
.popup_topClose{
  padding-right: 25px;
  background: url('../images/ico_cirArrA.png') no-repeat ;
}



/* gnb_util */

.gnb_util {
  position: absolute;
  width: 235px;
  top: 25px;
  right: 35px;
  box-sizing: border-box;
  font-size: 0;
  text-align: right;
  z-index: 1100;
}

.airportMove{
  display: inline-block;
}

.airportMove_btn{
  width: 135px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 39px 0 19px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: url('../images/ico_dotArrB_white.png') no-repeat;
  background-position: right 18px center;
  display: inline-block;
  overflow: hidden;
  height: 40px;
  margin: 0 0 0 20px;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-align: left;
}
.uSearch{
  width: 36px;
  height: 40px;
  margin-left: 15px;
  background: url('../images/ico_topSearch_white.png') no-repeat center center;
  text-indent: -9999px;
}



