@charset "utf-8";
/* 학습용 팝업 */
#layer{
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  background-color:#ccc;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 10000;
  font-size: 2.6em;
  padding: 3em;
  box-sizing: border-box;
  line-height: 2;
  top: 50px;
  left: 150px;
  text-align: center;
}
#layer button{
  position: absolute;
  cursor: pointer;
  padding: 10px 20px;
  right: 0;
  top: 0;
  background-color: #222;
  color: #fff;
}

/* skip menu */

.skip_menu{
    z-index: 10001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transform: translateY(-100%);
}
.skip_menu:focus{
    transform: translateY(0%);
    outline: 1px dashed white;
    background-color: #000;
    color: #fff;
}

/* header */
#header_wrap{
  position: absolute;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
}

header {
  position: relative;
  left: 0;
  top: 40px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1001;
}

/* logo */
.logo {

  width: 15%;
  height: 90px;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  box-sizing: border-box;
}
.logo>a{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo > img{
  width: 100%;
}

/* gnb */

#gnb {
  width: 70%;
  height: 90px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#gnb > .gnb_depth1 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1.9%;
  line-height: 90px;
}

#gnb .gnb_depth1 > a {
  position: relative;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 2.2rem;
}

#gnb .highlight::before {
  content: "";
  width: 118px;
  height: 42px;
  position: absolute;
  background-image: url("../images/gnb_item_bg.png");
  background-repeat: no-repeat;
  z-index: -1;
  top: 25px;
  left: -19px;
  z-index: -1;
}
#gnb .gnb_depth1:hover .highlight::before {
  display: none;
}
#gnb .gnb_depth1 > a::after{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  border-bottom: 3px solid #00589e;
  left: 0;
  bottom: 1px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
#gnb .gnb_depth1:hover > a::after{
  opacity: 1;
  visibility: visible;
}

#gnb .depth2_wrap {
  position: absolute;
  width: 100%;
  background-color: rgb(240, 240, 240);
  left: 0;
  top: 91px;
  box-sizing: border-box;
  transition: 0.3s;
  padding: 0 10%;
  border-top: 1px solid #ccc;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

#gnb .gnb_depth1:hover .depth2_wrap {
  opacity: 1;
  border-top: 1px solid #ccc;
  visibility: visible;
}

#gnb .gnb_depth1:hover .depth2_wrap {
  display: block;
  border-top: 1px solid #ccc;
}

#gnb .gnb_depth1:hover > a {
  color: #00589e;
}

.depth2 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-wrap: wrap;
}
.depth2_first{
  border: none;
}

.depth2_first > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.depth2_first a {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
}
.depth2 a span {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
}

.gnb_icons1 {
  background-image: url("../images/icon_GNBCUS1.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.gnb_icons2 {
  background-image: url("../images/icon_GNBCUS2.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.gnb_icons3 {
  background-image: url("../images/icon_GNBCUS3.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.gnb_icons4 {
  background-image: url("../images/icon_GNBCUS4.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.gnb_icons5 {
  background-image: url("../images/icon_GNBCUS5.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.gnb_icons6 {
  background-image: url("../images/icon_GNBCUS6.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.gnb_icons7 {
  background-image: url("../images/icon_GNBCUS7.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.gnb_depth2_txt {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.gnb_depth2_txt::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
}
.gnb_depth2_txt::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
}
.gnb_depth2_txt > li {
  box-sizing: border-box;
  display: flex;
  width: calc(20%);
  padding: 0 10px 0 10px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.gnb_depth2_txt > li > a {
  display: block;
  color: #020202;
  font-size: 20px;
  font-weight: 500;
}

.gnb_depth2_txt > li {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3rem;
}
.gnb_depth2_txt > li > ul > li > a {
  display: block;
  font-size: 15px;
  color: #555555;
}

/* top_util */
.top_util{
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: -40px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
.top_util button{
  font-weight: 300;
}
.top_util a{
  color: #fff;
  position: relative;
  font-size: 15px;
  padding-right: 14px;
  margin-right: 14px;
  cursor: pointer;
  font-weight: 300;
}
.top_util a::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 6px;
  width: 1px;
  height: 13px;
  background: rgba(255,255,255,0.2);
}
.top_util button{
  margin-right: 20px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  background-position: right center; 
}
.lang_button{
  padding-right: 20px;
  background: url('../images/ico_dotArrB_white.png') no-repeat ;
  
}
.popup_top{
  padding-right: 25px;
  background: url('../images/ico_cirArrB_red.png') no-repeat ;
  
}


/* gnb_util */

#gnb .gnb_util {
  width: 15%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gnb_util ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.5rem;
}
.gnb_util ul li {
  display: flex;
  align-items: center;
  margin-left: 20px;
  
}
.gnb_util ul li button{
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  width: 135px;
  padding:6px 39px 6px 10px;
  font-size: 1.5rem;
  border-radius: 30px;
  background: url('../images/ico_dotArrB_white.png') no-repeat right 18px center;
  cursor: pointer;
}

/* intro영역 */

.container{
  width: 100%;
  height: 100vh;
}

.intro_wrap {
  position: relative;
  top: 0;
  left: 0;
  background: url("../images/intro_01.jpg") no-repeat center center / cover;
}
.rowArea{
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}
.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20rem;
}
.txtArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.txtArea p:first-child {
  font-size: 2.6rem;
}
.txtArea p:last-child {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 500;
}

.quick_menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 65px;
}

.quick_menu a{
  display: block;
  width: 168px;
}

.quick_menu span{
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.quick_menu img{
  margin-top: 20px;
  max-width: 100%;
}
.quick_menu b{
  text-align: center;
  font-size: 2rem;
  line-height: 1em;
  color: #fff;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

/* search form */

.airplane_search{
  width: 100%;
  position: absolute;
  left: 0;
  bottom:30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ariplane_searchBox{
  max-width: 1220px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.dprtr_arvr{
  width: 100%;
}
.dprtr_arvr button{
  height: 25px;
  background-color:transparent;
  color: #fff;
}
.dprtr{
  margin-right: 30px;
}
.dprtr span{
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}
.arvr span{
  font-size: 20px;
  font-weight: 300;
}

/* search_listBox */

.search_listBox{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 15px;
  background-color: #fff;
  box-sizing: border-box;
  padding-right: 100px;
}

.search_listBox > a{
  color: #fff;
  position: absolute;
  font-size: 20px;
  right: 0;
  top: -50px;
  padding-right: 15px;
  background:url('../images/icon_AirScheduleArr.png') no-repeat right center;
}

.search_list{
  display: inline-block;
  height: 78px;
  display: flex;
  flex-direction: column;
  padding: 22px 30px 0 30px;
  position: relative;
}
.search_list label{
  display: block;
  width: 100%;
  font-size: 14px;
  margin-bottom: 14px;
  font-weight: 500;
  color: #666666;
}
.search_list::before{
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #dddddd;
}
.search_list select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
  background: url('../images/icon_AirportSechArr.png') no-repeat right center;
}
.airport{
  width: 18.5%;
}

.search_timeBox{
  width: 27%;
}

div.search_list{
  display: flex;
}
div.search_timeG{
  display: flex;
  width: calc(50%-40px);
}

select.time_item{
  display: inline-block;
  width: 50%;
  height: 26px;
  background-position: right 10px center;
}

.search_timeG span{
  width: 40px;
  font-size: 20px;
  color: #000;
  text-align: center;
  padding-right: 10px;
  box-sizing: border-box;
  height: 20px;
  line-height: 1em;
}

.search_division{
  width: 14.5%;
}


.search_airline{
  width: 21.5%;
}

.airplane_name{
  width: 18.5%;
}

.airplane_name .inp_airplaneNum{
  border: none;
  padding: 0;
  font-size: 20px;
  line-height: 1em;
  box-sizing: border-box;
  height: 20px;
  vertical-align: top;
}

.airplane_searchBtn{
  width: 100px;
  height: 100px;
  font-size: 20px;
  background-color: #a60436;
  color: #fff;
  line-height: 100px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
}




/* title */
.tit_Area{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.tit_Area p:nth-child(1){
  font-size: 1.4rem;
  line-height: 1em;
  color: #00589e;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.tit_Area p:nth-child(2){
  font-size: 48px;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: -0.5px;
}
.tit_Area p:nth-child(3){
  font-size: 18px;
  line-height: 1em;
  letter-spacing: -0.5px;
  padding-top: 15px;
}

/* proc */

.proc{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.proc > .time{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time >strong{
  color: #346096;
  font-size: 40px;
}
.time > span{
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

.standard{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.std_time {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  line-height: 1.6;
}
.std_time > strong{
  font-size: 24px;
}
.std_time > span{
  font-size: 22px;
  padding: 0 10px;
}

.std_time > button{
  width: 23px;
  height: 20px;
  background: url('../images/ico_reload.png') no-repeat center center;
  background-size: cover;
  cursor: pointer;
}

.std_type{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: -60px;
}
.std_type > button{
  font-size: 22px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.std_type > button:nth-child(1){
  font-weight: bold;
  border-bottom: 5px solid #000;
}
.std_type > button:nth-child(2){
  margin-left: 15px;
}
.std_status{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.6;
}
.std_status ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.std_status li{
  box-sizing: border-box;
  margin-left: 30px;
}
.std_status span{
  position: relative;
  display: block;
  font-size: 18px;
}

.std_status span::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: -8px;
  top: -6px;
}
.status_fast::before{
  background-color: #589ce4;
}
.status_normal::before{
  background-color: #62d144;
}
.status_busy::before{
  background-color: #f98f39;
}
.status_verybusy::before{
  background-color: #d93436;
}

.proc_img{
  position: relative;
  width: 100%;
  height: 390px;
  background: url('../images/proc_body.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.walkLane{
  position: absolute;
  top: 211px;
  left: 168px;
  width: calc(100% - 168px);
  height: 95px;
  overflow: hidden;
}

.humen{
  position: relative;
  width: 60px;
  height: 95px;
  background-image: url('../images/walkman.png');
  background-position: 0% 100%;
  animation: human 15s linear  infinite;
  opacity: 0;
  animation-delay:1s ;
}
@keyframes human{
  0%{
    transform: translate(0, 0);
    opacity: 0;
  }
  5%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  85%{
    opacity: 0;
    transform: translate(952px, 0);
  }
  100%{
    opacity: 0;
  }
}


.proc_img ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.proc_img li{
  width: calc(100% / 7);
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.proc_footer{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
}
.proc_footer > div{
  border: 1px dashed #e4e4e4;
  border-top: 0;
  position: relative;
}

.proc_footer > div::before{
  background:url('../images/bg_arrow_top_off.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -5px;
  content: '';
  width: 10px;
  height: 7px;
}

.step1{
  width: 340px;
  height: 35px;
  margin-left: 253px;
}
.step2{
  width: 161px;
  height: 35px;
  margin-left: 5px;
}
.step3{
  width: 161px;
  height: 35px;
  margin-left: 5px;
}
.step4{
  width: 161px;
  height: 35px;
  margin-left: 5px;
}

.proc_footer > div > div{
  position:absolute;
  top: 15px;
  left: 50%;
  background-color: #e4e4e4;
  top: 15px;
  left: 50%;
  width: 140px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  transform: translateX(-50%);
}

.proc_text p{
  position: relative;
  padding-left: 20px;
  letter-spacing: -1.2px;
  font-size: 16px;
}
.proc_text p::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '※';
}
.proc_text span{
  color: #a60436;
  font-weight: 700;
}

/* guide */

.guide{
  background-color: #E9EDF3;
}

.guide_item{
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guide_item > div{
  width: calc(50% - 15px);
  background-color: #fff;
  font-size: 0;
  padding: 35px 45px 65px 35px;
  box-sizing: border-box;
  text-align: center;
}

.guide_item > div > p{
  font-size: 34px;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
  letter-spacing: -1.5px;
}


.guide_item > div > a{
  display: inline-block ;
  width: 33%;
  text-align: center;
  margin-top: 50px;
  line-height: 1em;
}

.guide_iconItem > a > img{
  width: 100%;
}

.guide_iconItem > span{
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;

}

/* flight */

.flight{
  background: url('../images/flight_visual1.png') no-repeat center center/cover;
}

.flight_item{
  width: 100%;
  margin: 100px;
  background-color: #f5f5f5;
  padding:55px 120px 50px 120px ;
  box-sizing: border-box;
}

/* parking */

.parking_info{
  background: url('../images/parking_visual3.png') no-repeat center center / cover;
}

.parking_itemGroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.parking_item{
  width: calc(50% - 20px);
  background-color: #f5f5f5;
  box-sizing: border-box;
  min-height: 644px;
  padding: 40px 45px 70px 45px;
}

.parking_status{
  width: 100%;
  height: auto;
  margin-bottom: 45px;
  margin-top: 40px;
}

.parkingAria_tit{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.status_bar{
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
}

.status_bar > p{
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: #dddee3;
  line-height: 4rem;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.status_bar > p:first-child{
  background-color: #279dfd;
}

.parking_link{
  width: 100%;
  margin-top: 34px;
}

.parking_link  a{
  box-sizing: border-box;
  display: inline-block;
  width: 49%;
}

.parking_link a:last-child{
  padding-left: 40px;
  border-left: 1px solid #dbdde1;
}

.parking_link > a > img{
  height: 45px;
  display: block;
  margin-bottom: 15px;
}

.parking_link  span{
  font-size: 12px;
  font-weight: bold;
  color: #00589e;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 8px;
}

.parking_link b{
  display: inline-block;
  font-size: 23px;
  padding-right: 50px;
  background: url('../images/ParkingLinkArr.png') no-repeat  right center ;
  background-size: 24px;
  font-weight: 500;
  color: #000;
  line-height: 1em;
}

/* transport */

.transport{
  background-color: #E9EDF3;
}

.transport_itemGroup{
  width: 100%;
  height: auto;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.transport_item{
  position: relative;
  width: 30%;
  margin-right: 40px;
  height: 495px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-right: 40px;
  box-sizing: border-box;
  transition: all 1s;
  cursor: pointer;
}

.transport_item:hover{
  background-size: 120% 120%;
}

.transport_item:nth-child(1){
  background-image: url("../images/transport_item01.png");
}
.transport_item:nth-child(2){
  background-image: url("../images/transport_item02.png");
}
.transport_item:nth-child(3){
  background-image: url("../images/transport_item03.png");
}

.transport_info{
  width: calc(100% - 80px);
  position: absolute;
  left: 0;
  bottom: -70px;
  margin-right: 40px;
  padding: 35px 30px 30px 30px;
  background-color: #fff;
  min-height: 250px;
}

.transport_info span{
  font-size: 13px;
  font-weight: bold;
  color: #00589e;
  letter-spacing: 3px;
  margin-bottom: 13px;
  display: block;
  letter-spacing: 1em;
}

.transport_info b{
  font-size: 34px;
  font-weight: 500;
  display: block;
  margin-bottom: 35px;
  letter-spacing: -1px;
  line-height: 1em;
}

.transport_info p{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  word-break: keep-all;
  line-height: 27px;
}

/* airport */
.airport_tip{
  margin-top: 40px;
  width: 100%;
  height: 120px;
  margin-bottom: 40px;
}

.airport_tip a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 40px 40px 20px 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.airport_tip img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.airport_tip:hover img{
  transform: scale(1.2);
}

.airport_tip span{
  position: relative;
  display: inline-block;
  padding-right: 76px;
  font-size: 34px;
  line-height: 1em;
  color: #fff;
  font-weight: 500;
  background-image: url('../images/airportGuideArr.png');
  background-repeat: no-repeat;
  background-size: 54px auto;
  background-position: right center;
}

.airport_tip b{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 120px;
  line-height: 1em;
  color: rgba(255,255,255,0.7);
  letter-spacing: 23px;
}

.tip_itemGroup{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.tip_item{
  width: 30%;
  height: 390px;
}

.tip_item a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
}


.tip_item img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.tip_item:hover img{
  transform: scale(1.2);
}

.tip_item span{
  position: relative;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1em;
  margin-bottom: 13px;
  color: #fff;
  display: block;
  left: 20px;
  top: 15%;
}

.tip_item b{
  position: relative;
  left: 20px;
  top: 20%;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1em;
  display: block;
  color: #fff;
  padding-bottom: 75px;
  background-image: url('../images/airportGuideArr.png');
  background-repeat: no-repeat;
  background-size: 54px auto;
  background-position: left bottom;
}

/* footer */

#footer{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 49px 0 46px;
  background-color: #191a1a;
}

footer{
  position: relative;
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

.foot_familySite{
  position: absolute;
  top: 0;
  right: 30px;
}

.foot_familySite > ul{
  width: 210px;
  overflow: hidden;
}

#familySite_btn{
  width: 210px;
  height: 45px;
  box-sizing: border-box;
  padding: 0 100px 0 15px;
  border: 1px solid #414242;
  color: #fff;
  background:url('../images/btn_family_on.png') no-repeat right 17px top 50%;
  cursor: pointer;
}


.footer_list{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer_list li{
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
}

.footer_list li::after{
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #fff;
  opacity: 0.2;
}


.footer_list a{
  color: rgba(255,255,255,0.6);
  font-size: 15px;
}

.footer_list li:first-child a{
  color: #19a0ff;
}

.tel{
  margin-top: 16px;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  color: white;
}

address{
  margin-top: 16px;
  font-style: normal;
  text-align: left;
}

address span{
  margin: 0 12px 0 0;
  color: rgba(255,255,255,0.6);
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}

.copyright{
  margin-top: 15px;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}